[FORMAT]
max-line-length = 99

[MESSAGES CONTROL]
disable=abstract-method,
        arguments-differ,
        attribute-defined-outside-init,
        bad-option-value,
        cyclic-import,
        fixme,
        import-outside-toplevel,
        inconsistent-return-statements,
        invalid-name,
        logging-fstring-interpolation,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        no-member,
        no-self-use,
        protected-access,
        raise-missing-from,
        redefined-builtin,
        signature-differs,
        too-few-public-methods,
        too-many-ancestors,
        too-many-arguments,
        too-many-branches,
        too-many-function-args,
        too-many-instance-attributes,
        too-many-locals,
        too-many-nested-blocks,
        too-many-statements,
        unnecessary-comprehension,
        unnecessary-lambda,
        unnecessary-pass,
        unused-argument

[REPORTS]
output-format=text
max-nested-blocks=5
