[FORMAT]
max-line-length = 99

[MESSAGES CONTROL]
disable=attribute-defined-outside-init,
        cyclic-import,
        fixme,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        no-self-use,
        protected-access,
        too-many-ancestors,
        too-many-arguments,
        too-many-branches,
        too-many-function-args,
        too-many-locals,
        too-many-nested-blocks,
        unused-argument,

[REPORTS]
output-format=colorized
max-nested-blocks=5
